<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.sale.mapper.SaleReturnManagementMapper">

    <resultMap type="com.cuixing.sale.entity.SaleReturnManagement" id="SaleReturnManagementMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="saleCode" column="sale_code" jdbcType="VARCHAR"/>
        <result property="returnWeight" column="return_weight" jdbcType="NUMERIC"/>
        <result property="returnNumber" column="return_number" jdbcType="INTEGER"/>
        <result property="measureId" column="measure_id" jdbcType="INTEGER"/>
        <result property="measureName" column="measure_name" jdbcType="VARCHAR"/>
        <result property="returnQrcode" column="return_qrcode" jdbcType="VARCHAR"/>
        <result property="returnName" column="return_name" jdbcType="VARCHAR"/>
        <result property="returnModel" column="return_model" jdbcType="VARCHAR"/>
        <result property="returnSpec" column="return_spec" jdbcType="VARCHAR"/>
        <result property="returnClient" column="return_client" jdbcType="VARCHAR"/>
        <result property="returnTime" column="return_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="INTEGER"/>
        <result property="attr3" column="attr3" jdbcType="VARCHAR"/>
        <result property="artt4" column="artt4" jdbcType="VARCHAR"/>
        <result property="artt5" column="artt5" jdbcType="VARCHAR"/>
        <result property="artt6" column="artt6" jdbcType="VARCHAR"/>
        <result property="artt7" column="artt7" jdbcType="VARCHAR"/>
        <result property="artt8" column="artt8" jdbcType="VARCHAR"/>
        <result property="artt9" column="artt9" jdbcType="VARCHAR"/>
        <result property="artt10" column="artt10" jdbcType="VARCHAR"/>
    </resultMap>
   
    <sql id="selectSaleReturnManagementVo">
        SELECT 
           id ,
           type ,
           sale_code ,
           return_weight ,
           return_number ,
           measure_id ,
           measure_name ,
           return_qrcode ,
           return_name ,
           return_model ,
           return_spec ,
           return_client ,
           return_time ,
           is_deleted ,
           version ,
           create_by ,
           create_time ,
           update_by ,
           update_time ,
           remark ,
           attr1 ,
           attr2 ,
           attr3 ,
           artt4 ,
           artt5 ,
           artt6 ,
           artt7 ,
           artt8 ,
           artt9 ,
           artt10 
        FROM sale_return_management
    </sql>
    
     <select id="selectSaleReturnManagementList" parameterType="SaleReturnManagement" resultMap="SaleReturnManagementMap">
        <include refid="selectSaleReturnManagementVo"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="saleCode != null and saleCode != ''">
                and sale_code = #{saleCode}
            </if>
            <if test="returnWeight != null">
                and return_weight = #{returnWeight}
            </if>
            <if test="returnNumber != null">
                and return_number = #{returnNumber}
            </if>
            <if test="measureId != null">
                and measure_id = #{measureId}
            </if>
            <if test="measureName != null and measureName != ''">
                and measure_name = #{measureName}
            </if>
            <if test="returnQrcode != null and returnQrcode != ''">
                and return_qrcode = #{returnQrcode}
            </if>
            <if test="returnName != null and returnName != ''">
                and return_name = #{returnName}
            </if>
            <if test="returnModel != null and returnModel != ''">
                and return_model = #{returnModel}
            </if>
            <if test="returnSpec != null and returnSpec != ''">
                and return_spec = #{returnSpec}
            </if>
            <if test="returnClient != null and returnClient != ''">
                and return_client = #{returnClient}
            </if>
            <if test="returnTime != null">
                and return_time = #{returnTime}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="artt4 != null and artt4 != ''">
                and artt4 = #{artt4}
            </if>
            <if test="artt5 != null and artt5 != ''">
                and artt5 = #{artt5}
            </if>
            <if test="artt6 != null and artt6 != ''">
                and artt6 = #{artt6}
            </if>
            <if test="artt7 != null and artt7 != ''">
                and artt7 = #{artt7}
            </if>
            <if test="artt8 != null and artt8 != ''">
                and artt8 = #{artt8}
            </if>
            <if test="artt9 != null and artt9 != ''">
                and artt9 = #{artt9}
            </if>
            <if test="artt10 != null and artt10 != ''">
                and artt10 = #{artt10}
            </if>
        </where>
    </select>
    
    <!--查询单个-->
    <select id="queryById" resultMap="SaleReturnManagementMap">
        select
           id ,
           type ,
           sale_code ,
           return_weight ,
           return_number ,
           measure_id ,
           measure_name ,
           return_qrcode ,
           return_name ,
           return_model ,
           return_spec ,
           return_client ,
           return_time ,
           is_deleted ,
           version ,
           create_by ,
           create_time ,
           update_by ,
           update_time ,
           remark ,
           attr1 ,
           attr2 ,
           attr3 ,
           artt4 ,
           artt5 ,
           artt6 ,
           artt7 ,
           artt8 ,
           artt9 ,
           artt10 

        from sale_return_management
        where id = #{id}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from sale_return_management
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="saleCode != null and saleCode != ''">
                and sale_code = #{saleCode}
            </if>
            <if test="returnWeight != null">
                and return_weight = #{returnWeight}
            </if>
            <if test="returnNumber != null">
                and return_number = #{returnNumber}
            </if>
            <if test="measureId != null">
                and measure_id = #{measureId}
            </if>
            <if test="measureName != null and measureName != ''">
                and measure_name = #{measureName}
            </if>
            <if test="returnQrcode != null and returnQrcode != ''">
                and return_qrcode = #{returnQrcode}
            </if>
            <if test="returnName != null and returnName != ''">
                and return_name = #{returnName}
            </if>
            <if test="returnModel != null and returnModel != ''">
                and return_model = #{returnModel}
            </if>
            <if test="returnSpec != null and returnSpec != ''">
                and return_spec = #{returnSpec}
            </if>
            <if test="returnClient != null and returnClient != ''">
                and return_client = #{returnClient}
            </if>
            <if test="returnTime != null">
                and return_time = #{returnTime}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
            <if test="version != null">
                and version = #{version}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="artt4 != null and artt4 != ''">
                and artt4 = #{artt4}
            </if>
            <if test="artt5 != null and artt5 != ''">
                and artt5 = #{artt5}
            </if>
            <if test="artt6 != null and artt6 != ''">
                and artt6 = #{artt6}
            </if>
            <if test="artt7 != null and artt7 != ''">
                and artt7 = #{artt7}
            </if>
            <if test="artt8 != null and artt8 != ''">
                and artt8 = #{artt8}
            </if>
            <if test="artt9 != null and artt9 != ''">
                and artt9 = #{artt9}
            </if>
            <if test="artt10 != null and artt10 != ''">
                and artt10 = #{artt10}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sale_return_management(type, sale_code, return_weight, return_number, measure_id, measure_name, return_qrcode, return_name, return_model, return_spec, return_client, return_time, is_deleted, version, create_by, create_time, update_by, update_time, remark, attr1, attr2, attr3, artt4, artt5, artt6, artt7, artt8, artt9, artt10)
        values (#{type}, #{saleCode}, #{returnWeight}, #{returnNumber}, #{measureId}, #{measureName}, #{returnQrcode}, #{returnName}, #{returnModel}, #{returnSpec}, #{returnClient}, #{returnTime}, #{isDeleted}, #{version}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{remark}, #{attr1}, #{attr2}, #{attr3}, #{artt4}, #{artt5}, #{artt6}, #{artt7}, #{artt8}, #{artt9}, #{artt10})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sale_return_management(type, sale_code, return_weight, return_number, measure_id, measure_name, return_qrcode, return_name, return_model, return_spec, return_client, return_time, is_deleted, version, create_by, create_time, update_by, update_time, remark, attr1, attr2, attr3, artt4, artt5, artt6, artt7, artt8, artt9, artt10)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.type}, #{entity.saleCode}, #{entity.returnWeight}, #{entity.returnNumber}, #{entity.measureId}, #{entity.measureName}, #{entity.returnQrcode}, #{entity.returnName}, #{entity.returnModel}, #{entity.returnSpec}, #{entity.returnClient}, #{entity.returnTime}, #{entity.isDeleted}, #{entity.version}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.remark}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.artt4}, #{entity.artt5}, #{entity.artt6}, #{entity.artt7}, #{entity.artt8}, #{entity.artt9}, #{entity.artt10})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sale_return_management(type, sale_code, return_weight, return_number, measure_id, measure_name, return_qrcode, return_name, return_model, return_spec, return_client, return_time, is_deleted, version, create_by, create_time, update_by, update_time, remark, attr1, attr2, attr3, artt4, artt5, artt6, artt7, artt8, artt9, artt10)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.type}, #{entity.saleCode}, #{entity.returnWeight}, #{entity.returnNumber}, #{entity.measureId}, #{entity.measureName}, #{entity.returnQrcode}, #{entity.returnName}, #{entity.returnModel}, #{entity.returnSpec}, #{entity.returnClient}, #{entity.returnTime}, #{entity.isDeleted}, #{entity.version}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.remark}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.artt4}, #{entity.artt5}, #{entity.artt6}, #{entity.artt7}, #{entity.artt8}, #{entity.artt9}, #{entity.artt10})
        </foreach>
        on duplicate key update
type = values(type),
sale_code = values(sale_code),
return_weight = values(return_weight),
return_number = values(return_number),
measure_id = values(measure_id),
measure_name = values(measure_name),
return_qrcode = values(return_qrcode),
return_name = values(return_name),
return_model = values(return_model),
return_spec = values(return_spec),
return_client = values(return_client),
return_time = values(return_time),
is_deleted = values(is_deleted),
version = values(version),
create_by = values(create_by),
create_time = values(create_time),
update_by = values(update_by),
update_time = values(update_time),
remark = values(remark),
attr1 = values(attr1),
attr2 = values(attr2),
attr3 = values(attr3),
artt4 = values(artt4),
artt5 = values(artt5),
artt6 = values(artt6),
artt7 = values(artt7),
artt8 = values(artt8),
artt9 = values(artt9),
artt10 = values(artt10)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sale_return_management
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="saleCode != null and saleCode != ''">
                sale_code = #{saleCode},
            </if>
            <if test="returnWeight != null">
                return_weight = #{returnWeight},
            </if>
            <if test="returnNumber != null">
                return_number = #{returnNumber},
            </if>
            <if test="measureId != null">
                measure_id = #{measureId},
            </if>
            <if test="measureName != null and measureName != ''">
                measure_name = #{measureName},
            </if>
            <if test="returnQrcode != null and returnQrcode != ''">
                return_qrcode = #{returnQrcode},
            </if>
            <if test="returnName != null and returnName != ''">
                return_name = #{returnName},
            </if>
            <if test="returnModel != null and returnModel != ''">
                return_model = #{returnModel},
            </if>
            <if test="returnSpec != null and returnSpec != ''">
                return_spec = #{returnSpec},
            </if>
            <if test="returnClient != null and returnClient != ''">
                return_client = #{returnClient},
            </if>
            <if test="returnTime != null">
                return_time = #{returnTime},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="version != null">
                version = #{version},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="attr1 != null and attr1 != ''">
                attr1 = #{attr1},
            </if>
            <if test="attr2 != null">
                attr2 = #{attr2},
            </if>
            <if test="attr3 != null">
                attr3 = #{attr3},
            </if>
            <if test="artt4 != null and artt4 != ''">
                artt4 = #{artt4},
            </if>
            <if test="artt5 != null and artt5 != ''">
                artt5 = #{artt5},
            </if>
            <if test="artt6 != null and artt6 != ''">
                artt6 = #{artt6},
            </if>
            <if test="artt7 != null and artt7 != ''">
                artt7 = #{artt7},
            </if>
            <if test="artt8 != null and artt8 != ''">
                artt8 = #{artt8},
            </if>
            <if test="artt9 != null and artt9 != ''">
                artt9 = #{artt9},
            </if>
            <if test="artt10 != null and artt10 != ''">
                artt10 = #{artt10},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sale_return_management where id = #{id}
    </delete>

</mapper>

