<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.mold.mapper.MoldNestingMapper">

    <resultMap type="com.cuixing.mold.entity.MoldNesting" id="MoldNestingMap">
        <result property="nestingMoldId" column="nesting_mold_id" jdbcType="INTEGER"/>
        <result property="nestingName" column="nesting_name" jdbcType="VARCHAR"/>
        <result property="nestingArea" column="nesting_area" jdbcType="VARCHAR"/>
        <result property="nestingSpec" column="nesting_spec" jdbcType="VARCHAR"/>
        <result property="nestingScope" column="nesting_scope" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="planId" column="plan_id" jdbcType="INTEGER"/>
        <result property="enable" column="enable" jdbcType="VARCHAR"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="VARCHAR"/>
        <result property="attr3" column="attr3" jdbcType="INTEGER"/>
        <result property="attr4" column="attr4" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectMoldNestingVo">
        SELECT nesting_mold_id,
               nesting_name,
               nesting_area,
               nesting_spec,
               nesting_scope,
               status,
               plan_id,
               enable,
               attr1,
               attr2,
               attr3,
               attr4,
               create_time,
               create_by,
               update_by,
               update_time
        FROM mold_nesting
    </sql>

    <select id="selectMoldNestingList" parameterType="MoldNesting" resultMap="MoldNestingMap">
        <include refid="selectMoldNestingVo"/>
        <where>
            <if test="nestingMoldId != null">
                and nesting_mold_id = #{nestingMoldId}
            </if>
            <if test="nestingName != null and nestingName != ''">
                and nesting_name = #{nestingName}
            </if>
            <if test="nestingArea != null and nestingArea != ''">
                and nesting_area = #{nestingArea}
            </if>
            <if test="nestingSpec != null and nestingSpec != ''">
                and nesting_spec = #{nestingSpec}
            </if>
            <if test="nestingScope != null and nestingScope != ''">
                and nesting_scope = #{nestingScope}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="planId != null">
                and plan_id = #{planId}
            </if>
            <if test="enable != null and enable != ''">
                and enable = #{enable}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        ORDER BY
        CASE
        WHEN update_time IS NOT NULL THEN update_time
        ELSE create_time
        END DESC
    </select>
    <select id="selectMoldNestingList2" parameterType="MoldNesting" resultMap="MoldNestingMap">
        <include refid="selectMoldNestingVo"/>
        <where>
            <if test="nestingMoldId != null">
                and nesting_mold_id = #{nestingMoldId}
            </if>
            <if test="nestingName != null and nestingName != ''">
                and nesting_name = #{nestingName}
            </if>
            <if test="nestingArea != null and nestingArea != ''">
                and nesting_area = #{nestingArea}
            </if>
            <if test="nestingSpec != null and nestingSpec != ''">
                and nesting_spec = #{nestingSpec}
            </if>
            <if test="nestingScope != null and nestingScope != ''">
                and nesting_scope = #{nestingScope}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="planId != null">
                and plan_id = #{planId}
            </if>
                and enable = 'Y'
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
        ORDER BY
        CASE
        WHEN update_time IS NOT NULL THEN update_time
        ELSE create_time
        END DESC
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="MoldNestingMap">
        <include refid="selectMoldNestingVo"/>
        where nesting_mold_id = #{nestingMoldId}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from mold_nesting
        <where>
            <if test="nestingMoldId != null">
                and nesting_mold_id = #{nestingMoldId}
            </if>
            <if test="nestingName != null and nestingName != ''">
                and nesting_name = #{nestingName}
            </if>
            <if test="nestingArea != null and nestingArea != ''">
                and nesting_area = #{nestingArea}
            </if>
            <if test="nestingSpec != null and nestingSpec != ''">
                and nesting_spec = #{nestingSpec}
            </if>
            <if test="nestingScope != null and nestingScope != ''">
                and nesting_scope = #{nestingScope}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="planId != null">
                and plan_id = #{planId}
            </if>
            <if test="enable != null and enable != ''">
                and enable = #{enable}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="nestingMoldId" useGeneratedKeys="true">
        insert into mold_nesting(nesting_name, nesting_area, nesting_spec, nesting_scope, status, plan_id, enable,
                                 attr1, attr2, attr3, attr4, create_time, create_by, update_by, update_time)
        values (#{nestingName}, #{nestingArea}, #{nestingSpec}, #{nestingScope}, #{status}, #{planId}, #{enable},
                #{attr1}, #{attr2}, #{attr3}, #{attr4}, #{createTime}, #{createBy}, #{updateBy}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="nestingMoldId" useGeneratedKeys="true">
        insert into mold_nesting(nesting_name, nesting_area, nesting_spec, nesting_scope, status, plan_id, enable,
        attr1, attr2, attr3, attr4, create_time, create_by, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nestingName}, #{entity.nestingArea}, #{entity.nestingSpec}, #{entity.nestingScope},
            #{entity.status}, #{entity.planId}, #{entity.enable}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3},
            #{entity.attr4}, #{entity.createTime}, #{entity.createBy}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="nestingMoldId" useGeneratedKeys="true">
        insert into mold_nesting(nesting_name, nesting_area, nesting_spec, nesting_scope, status, plan_id, enable,
        attr1, attr2, attr3, attr4, create_time, create_by, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nestingName}, #{entity.nestingArea}, #{entity.nestingSpec}, #{entity.nestingScope},
            #{entity.status}, #{entity.planId}, #{entity.enable}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3},
            #{entity.attr4}, #{entity.createTime}, #{entity.createBy}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        nesting_name = values(nesting_name),
        nesting_area = values(nesting_area),
        nesting_spec = values(nesting_spec),
        nesting_scope = values(nesting_scope),
        status = values(status),
        plan_id = values(plan_id),
        enable = values(enable),
        attr1 = values(attr1),
        attr2 = values(attr2),
        attr3 = values(attr3),
        attr4 = values(attr4),
        create_time = values(create_time),
        create_by = values(create_by),
        update_by = values(update_by),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mold_nesting
        <set>
            <if test="nestingName != null and nestingName != ''">
                nesting_name = #{nestingName},
            </if>
            <if test="nestingArea != null and nestingArea != ''">
                nesting_area = #{nestingArea},
            </if>
            <if test="nestingSpec != null and nestingSpec != ''">
                nesting_spec = #{nestingSpec},
            </if>
            <if test="nestingScope != null and nestingScope != ''">
                nesting_scope = #{nestingScope},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="planId != null">
                plan_id = #{planId},
            </if>
            <if test="enable != null and enable != ''">
                enable = #{enable},
            </if>
            <if test="attr1 != null and attr1 != ''">
                attr1 = #{attr1},
            </if>
            <if test="attr2 != null and attr2 != ''">
                attr2 = #{attr2},
            </if>
            <if test="attr3 != null">
                attr3 = #{attr3},
            </if>
            <if test="attr4 != null">
                attr4 = #{attr4},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where nesting_mold_id = #{nestingMoldId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from mold_nesting
        where nesting_mold_id = #{nestingMoldId}
    </delete>

    <update id="updatePlan">
        update mold_nesting set plan_id = NULL where nesting_mold_id = #{nestingMoldId}
    </update>

    <update id="updateToScopeAndSpec">
        update mold_nesting set nesting_spec= #{nestingSpec},nesting_scope= #{nestingScope}  where nesting_mold_id = #{nestingMoldId}
    </update>

    <update id="updateToScopeNull">
        update mold_nesting set nesting_spec= NULL,nesting_scope= NULL  where nesting_mold_id = #{nestingMoldId}
    </update>
    <update id="updateToPlanNull">
        update mold_nesting set plan_id= NULL  where nesting_mold_id = #{nestingMoldId}
    </update>

    <select id="queryByPlanId" resultMap="MoldNestingMap">
        <include refid="selectMoldNestingVo"/>
        where plan_id = #{planId}
    </select>

    <select id="checkUniqueNestingCode" parameterType="MoldNesting" resultMap="MoldNestingMap">
        <include refid="selectMoldNestingVo"/>
        WHERE nesting_name = #{nestingName}
    </select>
</mapper>

