<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.eq.mapper.EqPlanMapper">
    <resultMap type="com.cuixing.eq.entity.EqPlan" id="EqPlanMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="planType" column="plan_type" jdbcType="CHAR"/>
        <result property="planCode" column="plan_code" jdbcType="VARCHAR"/>
        <result property="planName" column="plan_name" jdbcType="VARCHAR"/>
        <result property="itemTypeId" column="item_type_id" jdbcType="BIGINT"/>
        <result property="itemTypeName" column="item_type_name" jdbcType="VARCHAR"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="frequency" column="frequency" jdbcType="INTEGER"/>
        <result property="measureId" column="measure_id" jdbcType="BIGINT"/>
        <result property="measureName" column="measure_name" jdbcType="VARCHAR"/>
        <result property="ifEnable" column="if_enable" jdbcType="TINYINT"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="INTEGER"/>
        <result property="attr3" column="attr3" jdbcType="VARCHAR"/>
        <result property="jobId" column="job_id" jdbcType="BIGINT"/>
        <result property="jobName" column="job_name" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!-- 通过ID查询单条数据 -->
    <select id="queryById" resultMap="EqPlanMap">
        select
            id,plan_type,plan_code,plan_name,item_type_id,item_type_name,start_time,end_time,frequency,measure_id,measure_name,if_enable,remark,is_deleted,version,create_by,create_time,update_by,update_time,attr1,attr2,attr3,job_id,job_name
        from eq_plan
        where is_deleted = 0 and  id = #{id}
    </select>
    
    <!--分页查询指定行数据-->
    <select id="selectEqPlanList" resultMap="EqPlanMap">
        select
            id,plan_type,plan_code,plan_name,item_type_id,item_type_name,start_time,end_time,frequency,measure_id,measure_name,if_enable,remark,is_deleted,version,create_by,create_time,update_by,update_time,attr1,attr2,attr3,job_id,job_name
        from eq_plan
        <where>
            is_deleted = 0
            <if test="id != null and id != ''"> and id = #{id}</if>
            <if test="planType != null and planType != ''"> and plan_type = #{planType}</if>
            <if test="planCode != null and planCode != ''"> and plan_code = #{planCode}</if>
            <if test="planName != null and planName != ''"> and plan_name = #{planName}</if>
            <if test="itemTypeId != null and itemTypeId != ''"> and item_type_id = #{itemTypeId}</if>
            <if test="itemTypeName != null and itemTypeName != ''"> and item_type_name = #{itemTypeName}</if>
            <if test="startTime != null and startTime != ''"> and start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''"> and end_time = #{endTime}</if>
            <if test="frequency != null and frequency != ''"> and frequency = #{frequency}</if>
            <if test="measureId != null and measureId != ''"> and measure_id = #{measureId}</if>
            <if test="measureName != null and measureName != ''"> and measure_name = #{measureName}</if>
            <if test="ifEnable != null and ifEnable != ''"> and if_enable = #{ifEnable}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="version != null and version != ''"> and version = #{version}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
            <if test="attr1 != null and attr1 != ''"> and attr1 = #{attr1}</if>
            <if test="attr2 != null and attr2 != ''"> and attr2 = #{attr2}</if>
            <if test="attr3 != null and attr3 != ''"> and attr3 = #{attr3}</if>
            <if test="jobId != null and jobId != ''"> and job_id = #{jobId}</if>
            <if test="jobName != null and jobName != ''"> and job_name = #{jobName}</if>
        </where>
        order by create_time desc
    </select>
    
    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into eq_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="planType != null and planType != ''">plan_type,</if>
            <if test="planCode != null and planCode != ''">plan_code,</if>
            <if test="planName != null and planName != ''">plan_name,</if>
            <if test="itemTypeId != null ">item_type_id,</if>
            <if test="itemTypeName != null and itemTypeName != ''">item_type_name,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="frequency != null ">frequency,</if>
            <if test="measureId != null ">measure_id,</if>
            <if test="measureName != null and measureName != ''">measure_name,</if>
            <if test="ifEnable != null ">if_enable,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="isDeleted != null ">is_deleted,</if>
            <if test="version != null ">version,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null ">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
            <if test="jobId != null">job_id,</if>
            <if test="jobName != null and jobName != ''">job_Name</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="planType != null and planType != ''">#{planType},</if>
            <if test="planCode != null and planCode != ''">#{planCode},</if>
            <if test="planName != null and planName != ''">#{planName},</if>
            <if test="itemTypeId != null">#{itemTypeId},</if>
            <if test="itemTypeName != null and itemTypeName != ''">#{itemTypeName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="measureId != null">#{measureId},</if>
            <if test="measureName != null and measureName != ''">#{measureName},</if>
            <if test="ifEnable != null">#{ifEnable},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attr1 != null and attr1 != ''">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null and attr3 != ''">#{attr3},</if>
            <if test="jobId != null">#{jobId},</if>
            <if test="jobName != null and jobName != ''">#{jobName}</if>
        </trim>
    </insert>
    
    <!-- 更新数据 -->
    <update id="update">
        update eq_plan
        <set>
            <trim suffixOverrides=",">
                <if test="planType != null "> plan_type = #{planType}, </if>
                <if test="planCode != null "> plan_code = #{planCode}, </if>
                <if test="planName != null "> plan_name = #{planName}, </if>
                <if test="itemTypeId != null "> item_type_id = #{itemTypeId}, </if>
                <if test="itemTypeName != null "> item_type_name = #{itemTypeName}, </if>
                <if test="startTime != null "> start_time = #{startTime}, </if>
                <if test="endTime != null "> end_time = #{endTime}, </if>
                <if test="frequency != null "> frequency = #{frequency}, </if>
                <if test="measureId != null "> measure_id = #{measureId}, </if>
                <if test="measureName != null "> measure_name = #{measureName}, </if>
                <if test="ifEnable != null "> if_enable = #{ifEnable}, </if>
                <if test="remark != null "> remark = #{remark}, </if>
                <if test="isDeleted != null "> is_deleted = #{isDeleted}, </if>
                <if test="version != null "> version = #{version}, </if>
                <if test="createBy != null "> create_by = #{createBy}, </if>
                <if test="createTime != null "> create_time = #{createTime}, </if>
                <if test="updateBy != null "> update_by = #{updateBy}, </if>
                <if test="updateTime != null "> update_time = #{updateTime}, </if>
                <if test="attr1 != null "> attr1 = #{attr1}, </if>
                <if test="attr2 != null "> attr2 = #{attr2}, </if>
                <if test="attr3 != null "> attr3 = #{attr3}, </if>
                <if test="jobId != null"> job_id = #{jobId}, </if>
                <if test="jobName != null "> job_name = #{jobName} </if>
            </trim>
        </set>
        where id = #{id} and version = #{version}
    </update>
    
    <!--逻辑删除删除-->
    <update id="deleteById">
        update eq_plan set is_deleted = 1 where id = #{id}
    </update>
    
    <!--批量逻辑删除-->
    <update id="deleteByIds">
        update eq_plan set is_deleted = 1 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <!-- 通过类型id获取设备项目列表 -->
    <select id="getEqListByItemTypeId" resultMap="com.cuixing.eq.mapper.EqListMapper.EqListMap">
        select eigd.equipment_id,eigd.equipment_code,eigd.equipment_name,eigd.equipment_model,eig.id as workgroup_id,eig.group_name as workgroup_name,
               eig.head_id,eig.head_name,ep.id as plan_id,ep.plan_type,ep.plan_name,ep.plan_code,ep.item_type_id,ep.item_type_name
        from eq_plan ep right join eq_item_type eit on ep.item_type_id = eit.id
            right join eq_item_group eig on eit.id = eig.item_type_id
            right join eq_item_group_detail eigd on eig.id = eigd.group_id
        where eit.id = #{itemTypeId} and ep.is_deleted = 0 and eig.is_deleted = 0 and eigd.is_deleted = 0
    </select>
</mapper>