DB_USERNAME=root
DB_PASSWORD=root
DB_URL=jdbc:mysql://localhost:3306/enterprise_agent?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_CHAT_MODEL=qwen3:8b
OLLAMA_EMBEDDING_MODEL=bge-m3
QDRANT_BASE_URL=http://localhost:6333
QDRANT_COLLECTION=enterprise_knowledge
QDRANT_EMBEDDING_DIMENSION=1024
FEISHU_WEBHOOK_URL=
MES_DB_ENABLED=false
MES_DB_URL=jdbc:mysql://192.168.10.109:3306/rsmes_cloud?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
MES_DB_USERNAME=root
MES_DB_PASSWORD=
MES_API_ENABLED=true
MES_API_BASE_URL=http://localhost:9977
WMS_API_BASE_URL=http://localhost:9213
MES_API_FROM_SOURCE=inner
