<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.purchase.mapper.ProcureSourceMapper">

    <resultMap type="com.cuixing.purchase.entity.ProcureSource" id="ProcureSourceMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sourceName" column="source_name" jdbcType="VARCHAR"/>
        <result property="abbreviation" column="abbreviation" jdbcType="VARCHAR"/>
        <result property="sourceCode" column="source_code" jdbcType="VARCHAR"/>
        <result property="sourceUniqueCode" column="source_unique_code" jdbcType="VARCHAR"/>
        <result property="salesman" column="salesman" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="INTEGER"/>
        <result property="attr3" column="attr3" jdbcType="VARCHAR"/>
        <result property="attr4" column="attr4" jdbcType="NUMERIC"/>
        <result property="attr5" column="attr5" jdbcType="VARCHAR"/>
        <result property="attr6" column="attr6" jdbcType="VARCHAR"/>
        <result property="attr7" column="attr7" jdbcType="VARCHAR"/>
        <result property="attr8" column="attr8" jdbcType="VARCHAR"/>
        <result property="attr9" column="attr9" jdbcType="VARCHAR"/>
    </resultMap>
   
    <sql id="selectProcureSourceVo">
        SELECT 
           id ,
           source_name ,
           abbreviation ,
           source_code ,
           source_unique_code ,
           salesman ,
           phone_number ,
           is_deleted ,
           version ,
           create_by ,
           create_time ,
           update_by ,
           update_time ,
           attr1 ,
           attr2 ,
           attr3 ,
           attr4 ,
           attr5 ,
           attr6 ,
           attr7 ,
           attr8 ,
           attr9 
        FROM procure_source
    </sql>
    
     <select id="selectProcureSourceList" parameterType="ProcureSource" resultMap="ProcureSourceMap">
        <include refid="selectProcureSourceVo"/>
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="sourceName != null and sourceName != ''">
                and source_name = #{sourceName}
            </if>
            <if test="abbreviation != null and abbreviation != ''">
                and abbreviation = #{abbreviation}
            </if>
            <if test="sourceCode != null and sourceCode != ''">
                and source_code = #{sourceCode}
            </if>
            <if test="sourceUniqueCode != null and sourceUniqueCode != ''">
                and source_unique_code = #{sourceUniqueCode}
            </if>
            <if test="salesman != null and salesman != ''">
                and salesman = #{salesman}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="attr5 != null and attr5 != ''">
                and attr5 = #{attr5}
            </if>
            <if test="attr6 != null and attr6 != ''">
                and attr6 = #{attr6}
            </if>
            <if test="attr7 != null and attr7 != ''">
                and attr7 = #{attr7}
            </if>
            <if test="attr8 != null and attr8 != ''">
                and attr8 = #{attr8}
            </if>
            <if test="attr9 != null and attr9 != ''">
                and attr9 = #{attr9}
            </if>
        </where>
    </select>
    
    <!--查询单个-->
    <select id="queryById" resultMap="ProcureSourceMap">
        select
           id ,
           source_name ,
           abbreviation ,
           source_code ,
           source_unique_code ,
           salesman ,
           phone_number ,
           is_deleted ,
           version ,
           create_by ,
           create_time ,
           update_by ,
           update_time ,
           attr1 ,
           attr2 ,
           attr3 ,
           attr4 ,
           attr5 ,
           attr6 ,
           attr7 ,
           attr8 ,
           attr9 

        from procure_source
        where id = #{id}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from procure_source
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="sourceName != null and sourceName != ''">
                and source_name = #{sourceName}
            </if>
            <if test="abbreviation != null and abbreviation != ''">
                and abbreviation = #{abbreviation}
            </if>
            <if test="sourceCode != null and sourceCode != ''">
                and source_code = #{sourceCode}
            </if>
            <if test="sourceUniqueCode != null and sourceUniqueCode != ''">
                and source_unique_code = #{sourceUniqueCode}
            </if>
            <if test="salesman != null and salesman != ''">
                and salesman = #{salesman}
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                and phone_number = #{phoneNumber}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
            <if test="version != null and version != ''">
                and version = #{version}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="attr5 != null and attr5 != ''">
                and attr5 = #{attr5}
            </if>
            <if test="attr6 != null and attr6 != ''">
                and attr6 = #{attr6}
            </if>
            <if test="attr7 != null and attr7 != ''">
                and attr7 = #{attr7}
            </if>
            <if test="attr8 != null and attr8 != ''">
                and attr8 = #{attr8}
            </if>
            <if test="attr9 != null and attr9 != ''">
                and attr9 = #{attr9}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into procure_source(source_name, abbreviation, source_code, source_unique_code, salesman, phone_number, is_deleted, version, create_by, create_time, update_by, update_time, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9)
        values (#{sourceName}, #{abbreviation}, #{sourceCode}, #{sourceUniqueCode}, #{salesman}, #{phoneNumber}, #{isDeleted}, #{version}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{attr1}, #{attr2}, #{attr3}, #{attr4}, #{attr5}, #{attr6}, #{attr7}, #{attr8}, #{attr9})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into procure_source(source_name, abbreviation, source_code, source_unique_code, salesman, phone_number, is_deleted, version, create_by, create_time, update_by, update_time, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.sourceName}, #{entity.abbreviation}, #{entity.sourceCode}, #{entity.sourceUniqueCode}, #{entity.salesman}, #{entity.phoneNumber}, #{entity.isDeleted}, #{entity.version}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.attr4}, #{entity.attr5}, #{entity.attr6}, #{entity.attr7}, #{entity.attr8}, #{entity.attr9})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into procure_source(source_name, abbreviation, source_code, source_unique_code, salesman, phone_number, is_deleted, version, create_by, create_time, update_by, update_time, attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.sourceName}, #{entity.abbreviation}, #{entity.sourceCode}, #{entity.sourceUniqueCode}, #{entity.salesman}, #{entity.phoneNumber}, #{entity.isDeleted}, #{entity.version}, #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.attr4}, #{entity.attr5}, #{entity.attr6}, #{entity.attr7}, #{entity.attr8}, #{entity.attr9})
        </foreach>
        on duplicate key update
source_name = values(source_name),
abbreviation = values(abbreviation),
source_code = values(source_code),
source_unique_code = values(source_unique_code),
salesman = values(salesman),
phone_number = values(phone_number),
is_deleted = values(is_deleted),
version = values(version),
create_by = values(create_by),
create_time = values(create_time),
update_by = values(update_by),
update_time = values(update_time),
attr1 = values(attr1),
attr2 = values(attr2),
attr3 = values(attr3),
attr4 = values(attr4),
attr5 = values(attr5),
attr6 = values(attr6),
attr7 = values(attr7),
attr8 = values(attr8),
attr9 = values(attr9)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update procure_source
        <set>
            <if test="sourceName != null and sourceName != ''">
                source_name = #{sourceName},
            </if>
            <if test="abbreviation != null and abbreviation != ''">
                abbreviation = #{abbreviation},
            </if>
            <if test="sourceCode != null and sourceCode != ''">
                source_code = #{sourceCode},
            </if>
            <if test="sourceUniqueCode != null and sourceUniqueCode != ''">
                source_unique_code = #{sourceUniqueCode},
            </if>
            <if test="salesman != null and salesman != ''">
                salesman = #{salesman},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number = #{phoneNumber},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="attr1 != null and attr1 != ''">
                attr1 = #{attr1},
            </if>
            <if test="attr2 != null">
                attr2 = #{attr2},
            </if>
            <if test="attr3 != null">
                attr3 = #{attr3},
            </if>
            <if test="attr4 != null">
                attr4 = #{attr4},
            </if>
            <if test="attr5 != null and attr5 != ''">
                attr5 = #{attr5},
            </if>
            <if test="attr6 != null and attr6 != ''">
                attr6 = #{attr6},
            </if>
            <if test="attr7 != null and attr7 != ''">
                attr7 = #{attr7},
            </if>
            <if test="attr8 != null and attr8 != ''">
                attr8 = #{attr8},
            </if>
            <if test="attr9 != null and attr9 != ''">
                attr9 = #{attr9},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from procure_source where id = #{id}
    </delete>

</mapper>

