<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.qc.mapper.QcDefectMapper">

    <resultMap type="com.cuixing.qc.entity.QcDefect" id="QcDefectMap">
        <result property="defectId" column="defect_id" jdbcType="INTEGER"/>
        <result property="defectCode" column="defect_code" jdbcType="VARCHAR"/>
        <result property="defectName" column="defect_name" jdbcType="VARCHAR"/>
        <result property="defectClassificationId" column="defect_classification_id" jdbcType="VARCHAR"/>
        <result property="defectLevel" column="defect_level" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="enable" column="enable" jdbcType="VARCHAR"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="VARCHAR"/>
        <result property="attr3" column="attr3" jdbcType="INTEGER"/>
        <result property="attr4" column="attr4" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectQcDefectVo">
        SELECT defect_id,
               defect_code,
               defect_name,
               defect_classification_id,
               defect_level,
               remark,
               enable,
               attr1,
               attr2,
               attr3,
               attr4,
               create_by,
               create_time,
               update_by,
               update_time
        FROM qc_defect
    </sql>

    <select id="selectQcDefectList" parameterType="QcDefect" resultMap="QcDefectMap">
        <include refid="selectQcDefectVo"/>
        <where>
            <if test="defectId != null">
                and defect_id = #{defectId}
            </if>
            <if test="defectCode != null and defectCode != ''">
                and defect_code = #{defectCode}
            </if>
            <if test="defectName != null and defectName != ''">
                and defect_name = #{defectName}
            </if>
            <if test="defectClassificationId != null and defectClassificationId != ''">
                and defect_classification_id = #{defectClassificationId}
            </if>
            <if test="defectLevel != null and defectLevel != ''">
                and defect_level = #{defectLevel}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="enable != null and enable != ''">
                and enable = #{enable}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="QcDefectMap">
        select defect_id,
               defect_code,
               defect_name,
               defect_classification_id,
               defect_level,
               remark,
               enable,
               attr1,
               attr2,
               attr3,
               attr4,
               create_by,
               create_time,
               update_by,
               update_time
        from qc_defect
        where defect_id = #{defectId}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from qc_defect
        <where>
            <if test="defectId != null">
                and defect_id = #{defectId}
            </if>
            <if test="defectCode != null and defectCode != ''">
                and defect_code = #{defectCode}
            </if>
            <if test="defectName != null and defectName != ''">
                and defect_name = #{defectName}
            </if>
            <if test="defectClassificationId != null and defectClassificationId != ''">
                and defect_classification_id = #{defectClassificationId}
            </if>
            <if test="defectLevel != null and defectLevel != ''">
                and defect_level = #{defectLevel}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="enable != null and enable != ''">
                and enable = #{enable}
            </if>
            <if test="attr1 != null and attr1 != ''">
                and attr1 = #{attr1}
            </if>
            <if test="attr2 != null and attr2 != ''">
                and attr2 = #{attr2}
            </if>
            <if test="attr3 != null">
                and attr3 = #{attr3}
            </if>
            <if test="attr4 != null">
                and attr4 = #{attr4}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="queryBydefectClassificationId" resultMap="QcDefectMap">
        <include refid="selectQcDefectVo"/>
        where defect_classification_id = #{defectClassificationId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="defectId" useGeneratedKeys="true">
        insert into qc_defect(defect_code, defect_name, defect_classification_id, defect_level, remark, enable, attr1,
                              attr2, attr3, attr4, create_by, create_time, update_by, update_time)
        values (#{defectCode}, #{defectName}, #{defectClassificationId}, #{defectLevel}, #{remark}, #{enable}, #{attr1},
                #{attr2}, #{attr3}, #{attr4}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="defectId" useGeneratedKeys="true">
        insert into qc_defect(defect_code, defect_name, defect_classification_id, defect_level, remark, enable, attr1,
        attr2, attr3, attr4, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.defectCode}, #{entity.defectName}, #{entity.defectClassificationId}, #{entity.defectLevel},
            #{entity.remark}, #{entity.enable}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.attr4},
            #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="defectId" useGeneratedKeys="true">
        insert into qc_defect(defect_code, defect_name, defect_classification_id, defect_level, remark, enable, attr1,
        attr2, attr3, attr4, create_by, create_time, update_by, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.defectCode}, #{entity.defectName}, #{entity.defectClassificationId}, #{entity.defectLevel},
            #{entity.remark}, #{entity.enable}, #{entity.attr1}, #{entity.attr2}, #{entity.attr3}, #{entity.attr4},
            #{entity.createBy}, #{entity.createTime}, #{entity.updateBy}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        defect_code = values(defect_code),
        defect_name = values(defect_name),
        defect_classification_id = values(defect_classification_id),
        defect_level = values(defect_level),
        remark = values(remark),
        enable = values(enable),
        attr1 = values(attr1),
        attr2 = values(attr2),
        attr3 = values(attr3),
        attr4 = values(attr4),
        create_by = values(create_by),
        create_time = values(create_time),
        update_by = values(update_by),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update qc_defect
        <set>
            <if test="defectCode != null and defectCode != ''">
                defect_code = #{defectCode},
            </if>
            <if test="defectName != null and defectName != ''">
                defect_name = #{defectName},
            </if>
            <if test="defectClassificationId != null and defectClassificationId != ''">
                defect_classification_id = #{defectClassificationId},
            </if>
            <if test="defectLevel != null and defectLevel != ''">
                defect_level = #{defectLevel},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="enable != null and enable != ''">
                enable = #{enable},
            </if>
            <if test="attr1 != null and attr1 != ''">
                attr1 = #{attr1},
            </if>
            <if test="attr2 != null and attr2 != ''">
                attr2 = #{attr2},
            </if>
            <if test="attr3 != null">
                attr3 = #{attr3},
            </if>
            <if test="attr4 != null">
                attr4 = #{attr4},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where defect_id = #{defectId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from qc_defect
        where defect_id = #{defectId}
    </delete>

</mapper>

