<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.ecm.mapper.EcmStepTariffMapper">
    
    <resultMap type="EcmStepTariff" id="EcmStepTariffResult">
        <result property="stepTariffId"    column="step_tariff_id"    />
        <result property="name"    column="name"    />
        <result property="month"    column="month"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="electricityPrice"    column="electricity_price"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="version"    column="version"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="attr1"    column="attr1"    />
        <result property="attr2"    column="attr2"    />
        <result property="attr3"    column="attr3"    />
    </resultMap>

    <sql id="selectEcmStepTariffVo">
        select step_tariff_id, name, month, start_time, end_time, electricity_price, remark, is_deleted, version, create_by, create_time, update_by, update_time, attr1, attr2, attr3 from ecm_step_tariff
    </sql>

    <select id="selectEcmStepTariffList" parameterType="EcmStepTariff" resultMap="EcmStepTariffResult">
        <include refid="selectEcmStepTariffVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="month != null  and month != ''"> and month = #{month}</if>
            <if test="startTime != null  and startTime != ''"> and start_time = #{startTime}</if>
            <if test="endTime != null  and endTime != ''"> and end_time = #{endTime}</if>
            <if test="electricityPrice != null "> and electricity_price = #{electricityPrice}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="version != null "> and version = #{version}</if>
            <if test="attr1 != null  and attr1 != ''"> and attr1 = #{attr1}</if>
            <if test="attr2 != null "> and attr2 = #{attr2}</if>
            <if test="attr3 != null  and attr3 != ''"> and attr3 = #{attr3}</if>
        </where>
    </select>
    
    <select id="selectEcmStepTariffByStepTariffId" parameterType="Long" resultMap="EcmStepTariffResult">
        <include refid="selectEcmStepTariffVo"/>
        where step_tariff_id = #{stepTariffId}
    </select>
        
    <insert id="insertEcmStepTariff" parameterType="EcmStepTariff" useGeneratedKeys="true" keyProperty="stepTariffId">
        insert into ecm_step_tariff
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="month != null">month,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="electricityPrice != null">electricity_price,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="version != null">version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="attr1 != null">attr1,</if>
            <if test="attr2 != null">attr2,</if>
            <if test="attr3 != null">attr3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="month != null">#{month},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="electricityPrice != null">#{electricityPrice},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attr1 != null">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null">#{attr3},</if>
         </trim>
    </insert>

    <update id="updateEcmStepTariff" parameterType="EcmStepTariff">
        update ecm_step_tariff
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="month != null">month = #{month},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="electricityPrice != null">electricity_price = #{electricityPrice},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="version != null">version = #{version},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="attr1 != null">attr1 = #{attr1},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
            <if test="attr3 != null">attr3 = #{attr3},</if>
        </trim>
        where step_tariff_id = #{stepTariffId}
    </update>

    <delete id="deleteEcmStepTariffByStepTariffId" parameterType="Long">
        delete from ecm_step_tariff where step_tariff_id = #{stepTariffId}
    </delete>

    <delete id="deleteEcmStepTariffByStepTariffIds" parameterType="String">
        delete from ecm_step_tariff where step_tariff_id in 
        <foreach item="stepTariffId" collection="array" open="(" separator="," close=")">
            #{stepTariffId}
        </foreach>
    </delete>
</mapper>