<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <!-- logger上下文名称（根据业务修改） -->
    <contextName>MyContextName</contextName>

    <!-- 定义了一个名为serverName的属性，它的值来自于logging.file.name，如果没有找到该属性默认为MyServerName（根据业务修改） -->
    <property name="logging.path" value="${logging.path:-/app/logs}"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <!-- 1. 输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 2. 输出到info文件 -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/cuixing-eq-info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/cuixing-eq-info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- MyBatis SQL 日志 -->
    <logger name="org.apache.ibatis" level="DEBUG">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <!-- 增加数据库日志 -->
    <logger name="java.sql.Statement" level="DEBUG">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <logger name="java.sql.ResultSet" level="DEBUG">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <!-- 4.1 开发环境:打印控制台 -->
    <logger name="com.cuixing.eq.controller" level="debug"/>
    <logger name="com.cuixing.eq.mapper" level="DEBUG"/>


    <!-- 记录ERROR级别日志，输出到INFO_FILE -->
    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <!-- 增加Java异常日志 -->
    <logger name="java.util.logging.ConsoleHandler" level="ERROR">
        <appender-ref ref="INFO_FILE"/>
    </logger>

    <!-- 配置root日志级别为info，输出到info文件和控制台 -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="INFO_FILE"/>
    </root>
</configuration>
