<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuixing.mes.mapper.MesCarryLogMapper">
    <resultMap type="com.cuixing.mes.entity.MesCarryLog" id="MesCarryLogMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="specification" column="specification" jdbcType="VARCHAR"/>
        <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
        <result property="enamellingEquipmentCode" column="enamelling_equipment_code" jdbcType="VARCHAR"/>
        <result property="itemIdentifier" column="item_identifier" jdbcType="VARCHAR"/>
        <result property="jobNumber" column="job_number" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="attr1" column="attr1" jdbcType="VARCHAR"/>
        <result property="attr2" column="attr2" jdbcType="INTEGER"/>
        <result property="attr3" column="attr3" jdbcType="VARCHAR"/>
    </resultMap>
    
    <!-- 通过ID查询单条数据 -->
    <select id="queryById" resultMap="MesCarryLogMap">
        select
            id,specification,equipment_code,enamelling_equipment_code,item_identifier,job_number,is_deleted,version,create_by,create_time,update_by,update_time,attr1,attr2,attr3
        from mes_carry_log
        where is_deleted = 0 and  id = #{id}
    </select>
    
    <!--分页查询指定行数据-->
    <select id="selectMesCarryLogList" resultMap="MesCarryLogMap">
        select
            id,specification,equipment_code,enamelling_equipment_code,item_identifier,job_number,is_deleted,version,create_by,create_time,update_by,update_time,attr1,attr2,attr3
        from mes_carry_log
        <where>
            is_deleted = 0
            <if test="id != null and id != ''"> and id = #{id}</if>
            <if test="specification != null and specification != ''"> and specification = #{specification}</if>
            <if test="equipmentCode != null and equipmentCode != ''"> and equipment_code = #{equipmentCode}</if>
            <if test="enamellingEquipmentCode != null and enamellingEquipmentCode != ''"> and enamelling_equipment_code = #{enamellingEquipmentCode}</if>
            <if test="itemIdentifier != null and itemIdentifier != ''"> and item_identifier = #{itemIdentifier}</if>
            <if test="jobNumber != null and jobNumber != ''"> and job_number = #{jobNumber}</if>
            <if test="isDeleted != null and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
            <if test="version != null and version != ''"> and version = #{version}</if>
            <if test="createBy != null and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime}</if>
            <if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime}</if>
            <if test="attr1 != null and attr1 != ''"> and attr1 = #{attr1}</if>
            <if test="attr2 != null and attr2 != ''"> and attr2 = #{attr2}</if>
            <if test="attr3 != null and attr3 != ''"> and attr3 = #{attr3}</if>
        </where>
        order by create_time desc
    </select>
    
    <!--新增数据-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mes_carry_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="specification != null and specification != ''">specification,</if>
            <if test="equipmentCode != null and equipmentCode != ''">equipment_code,</if>
            <if test="enamellingEquipmentCode != null and enamellingEquipmentCode != ''">enamelling_equipment_code,</if>
            <if test="itemIdentifier != null and itemIdentifier != ''">item_identifier,</if>
            <if test="jobNumber != null and jobNumber != ''">job_number,</if>
            <if test="isDeleted != null ">is_deleted,</if>
            <if test="version != null ">version,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="attr1 != null and attr1 != ''">attr1,</if>
            <if test="attr2 != null ">attr2,</if>
            <if test="attr3 != null and attr3 != ''">attr3,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="specification != null and specification != ''">#{specification},</if>
            <if test="equipmentCode != null and equipmentCode != ''">#{equipmentCode},</if>
            <if test="enamellingEquipmentCode != null and enamellingEquipmentCode != ''">#{enamellingEquipmentCode},</if>
            <if test="itemIdentifier != null and itemIdentifier != ''">#{itemIdentifier},</if>
            <if test="jobNumber != null and jobNumber != ''">#{jobNumber},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="version != null">#{version},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="attr1 != null and attr1 != ''">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null and attr3 != ''">#{attr3},</if>
        </trim>
    </insert>
    
    <!-- 更新数据 -->
    <update id="update">
        update mes_carry_log
        <set>
            <trim suffixOverrides=",">
                <if test="specification != null "> specification = #{specification}, </if>
                <if test="equipmentCode != null "> equipment_code = #{equipmentCode}, </if>
                <if test="enamellingEquipmentCode != null "> enamelling_equipment_code = #{enamellingEquipmentCode}, </if>
                <if test="itemIdentifier != null "> item_identifier = #{itemIdentifier}, </if>
                <if test="jobNumber != null "> job_number = #{jobNumber}, </if>
                <if test="isDeleted != null "> is_deleted = #{isDeleted}, </if>
                <if test="version != null "> version = #{version}, </if>
                <if test="createBy != null "> create_by = #{createBy}, </if>
                <if test="createTime != null "> create_time = #{createTime}, </if>
                <if test="updateBy != null "> update_by = #{updateBy}, </if>
                <if test="updateTime != null "> update_time = #{updateTime}, </if>
                <if test="attr1 != null "> attr1 = #{attr1}, </if>
                <if test="attr2 != null "> attr2 = #{attr2}, </if>
                <if test="attr3 != null "> attr3 = #{attr3}, </if>
            </trim>
        </set>
        where id = #{id} and version = #{version}
    </update>
    
    <!--逻辑删除删除-->
    <update id="deleteById">
        update mes_carry_log set is_deleted = 1 where id = #{id}
    </update>
    
    <!--批量逻辑删除-->
    <update id="deleteByIds">
        update mes_carry_log set is_deleted = 1 where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>